/* _______________________________________________________________БАЗОВОЕ________________________________________________________________________ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F8F8;
    font-family: 'Geologica', sans-serif;
    overflow-x: hidden;
}

button {
    cursor: pointer;
    font-family: 'Geologica', sans-serif;
}

.wrap {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
}

/* _______________________________________________________________МОДАЛЬНЫЕ ОКНА________________________________________________________________________ */
.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.746);
    z-index: 20;
    transition: .3s all;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 334px;

    background: #FFFFFF;
    border-radius: 20px;
    max-width: 710px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    padding: 30px;
    transition: 0.3s all;
}

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modalwindow_title {
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.015em;
    color: #000000;
}

.modalwindow_text {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.015em;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 505px;
}

.modal-link {
    text-decoration: none;
    color: #FF0032;
    transition: all .4s ease-in-out;
}

.modal-link:hover {
    text-decoration: underline;
}

.modal-avto {
    width: 650px;
    height: 80px;
    background: #241F20;
    border-radius: 10px;
    margin-right: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.015em;
    color: #FFFFFF;
    border: none;
}

.btnred {
    background-color: #FF0032;
}

.loogin {
    width: 598px;
    height: 598px;
    padding: 60px;
}

.tlogin {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.015em;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 78px;
}

.ilogin {
    width: 470px;
    height: 90px;
    background-color: transparent;
    border: 5px solid #FF0032;
    border-radius: 15px;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.015em;
    padding-left: 30px;
    color: #000000;
}

.blogin {
    width: 470px;
    height: 90px;
    background: #FF0032;
    border-radius: 15px;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.015em;
    color: #FFFFFF;
    margin-top: 25px;
}

/* _______________________________________________________________ХЕДЕР________________________________________________________________________ */
.header {
    display: flex;
    height: 100px;
    background-color: #FFFFFF;
}

.header-main {
    display: flex;
    align-items: center;
}

.header-logo img {
    display: block;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-left: 50px;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.nav-list li a:hover {
    color: #FF0032;
}

.button-login {
    width: 200px;
    height: 50px;
    background: #FF0032;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-left: 423px;
}

/* _______________________________________________________________ГЛАВНАЯ________________________________________________________________________ */
.main_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 175px;
}

.main-banner {
    background-image: url('img/main_banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1920px;
    height: 400px;
}

.mai-banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    padding-left: 105px;
}

.mai-banner-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}

.mai-banner-p {
    width: 425px;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    margin-top: 15px;
    color: #FFFFFF;
}

.main-junior-content {
    margin-top: 100px;
}

.mai-content-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.015em;
    color: #000000;
    margin-bottom: 30px;
    padding-left: 105px;
}

.mai-content-junior-bg {
    background-image: url('img/main_junior.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1220px;
    height: 440px;
    border-radius: 30px;
    transition: all .5s ease-in-out;
    padding-left: 105px;
}

.mai-content-junior-bg:hover {
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 50, 0.51), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1.02);
}

.m-jun-text {
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.m-jun-text-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

.m-jun-text-p {
    width: 420px;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #FFFFFF;
}

.jun-btn {
    border: none;
    width: 315px;
    height: 50px;
    background: #FF0032;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.main-music-content {
    margin-top: 100px;
}

.mai-content-music-bg {
    background-image: url('img/main_music.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1220px;
    height: 602px;
    padding: 105px 0 0 105px;
    transition: all .5s ease-in-out;
    border-radius: 30px;
}

.mai-content-music-bg:hover {
    box-shadow: inset 0px 0px 230px 1px rgb(204 138 236), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1.02);
}

.m-mus-card {
    width: 630px;
    height: 358px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 50, 0.51), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 50px 65px 50px 65px;
}

.m-mus-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.m-mus-card-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.015em;
    color: #000000;
}

.m-mus-card-p {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.m-mus-card-price-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
}

.m-mus-card-price-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 15px;
}

/* _______________________________________________________________ПРЕМИУМ________________________________________________________________________ */
.main_premium {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 175px;
}

.premium-banner {
    background-image: url('img/premium_banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1920px;
    height: 506px;
}

.prem-banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 506px;
    padding-left: 105px;
}

.prem-banner-title {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.015em;
    color: #FFFFFF;
    line-height: 50px;
    width: 376px;
}

.prem-banner-p {
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    width: 485px;
    line-height: 30px;
    margin-top: 25px;
}

.premium-content {
    width: 1220px;
    height: 1070px;
    background: linear-gradient(52.2deg, #98D8FF 21.84%, #958EFF 54.15%, #B5A0FF 78.16%);
    border-radius: 30px;
    padding: 80px 105px 80px 105px;
    margin-top: 100px;
}

.p-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.015em;
}

.prem-content-title {
    color: #FFFFFF;
    margin-bottom: 50px;
}

.prem-content-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prem-card {
    display: flex;
    align-items: center;
    width: 485px;
    height: 130px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding-left: 65px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.prem-card:hover {
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 50, 0.51), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1.04);
}

.prem-card:nth-child(even) {
    margin-right: 0;
}

.prem-card-icon {
    margin-right: 25px;
}

.prem-card-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.premium-subscription {
    width: 1220px;
    height: 660px;
    background: #DADFFF;
    border-radius: 30px;
    padding: 80px 83px 80px 82px;
    margin-top: 100px;
}

.prem-subscription-title {
    color: #000;
    margin-bottom: 50px;
}

.prem-subscription-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prem-sub-card {
    width: 315px;
    height: 400px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-right: 55px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all .5s ease-in-out;
    padding: 30px 23px 30px 23px;
}

.prem-sub-card:nth-child(3) {
    margin-right: 0;
}

.prem-sub-card:hover {
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 50, 0.51), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1.04);
}

.sub-card-text {
    margin-bottom: 95px;
}

.--even {
    margin-bottom: 55px;
}

.sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 25px;
}

.sub-text {
    width: 200px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #5F5F5F;
    margin-top: 15px;
}

.sub-text:nth-child(2) {
    margin-top: 0;
}

.sub-price {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.sub-btn {
    width: 269px;
    height: 50px;
    background: #272727;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #FFFFFF;
    margin-top: 25px;
    border: none;

    background-image: linear-gradient(140deg, rgba(0, 0, 0, 1) 0%, rgba(124, 124, 124, 1) 24%, rgba(48, 48, 48, 1) 70%, rgba(109, 109, 109, 1) 100%);
    background-size: 300% 100%;
    transition: all .5s ease-in-out;
}

.sub-btn:hover {
    background-position: 100% 0;
    transition: all .5s ease-in-out;
}

.premium-gift {
    width: 1220px;
    height: 495px;
    background: #DADFFF;
    border-radius: 30px;
    margin-top: 100px;
    padding: 80px 65px 80px 65px;
}

.prem-gift-title {
    margin-bottom: 50px;
    padding-left: 40px;
}

.gift-bg {
    background-image: url('img/premium_gift.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1090px;
    height: 235px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.gift-bg:hover {
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 50, 0.51), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1.02);
}

.prem-gift-card {
    padding: 43px 460px 42px 40px;
}

.gift-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.015em;
    color: #000000;
}

.gift-text {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.015em;
    color: #000000;
    margin-top: 15px;
}

.gift-ps {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.015em;
    color: #5F5F5F;
    margin-top: 15px;
}

/* _______________________________________________________________МУЗЫКА________________________________________________________________________ */
.main_music {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 175px;
}

.music-banner {
    background-image: url('img/mts-music_banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1920px;
    height: 560px;
}

.mus-banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 560px;
    padding-left: 105px;
}

.mus-banner-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.mus-banner-p {
    width: 485px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 30px;
}

.music-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.mus-content-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.mus-content-card {
    display: flex;
    align-items: center;
}

.mus-card-import {
    width: 590px;
    height: 255px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 40px 65px 40px 65px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.mus-card-import:hover {
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 50, 0.51), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1.04);
}

.m-playlist-icon {
    margin-bottom: 15px;
}

.mus-card-title {
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.015em;
    color: #000000;
}

.mus-card-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #000000;
    margin-top: 15px;
}

.mus-card-network {
    margin-top: 30px;
    width: 590px;
    height: 255px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 40px 65px 40px 65px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.mus-card-network:hover {
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 50, 0.51), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1.04);
}

.mus-card-playlist {
    margin-left: 40px;
    width: 590px;
    height: 540px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.mus-card-playlist:hover {
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 50, 0.51), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1.04);
}

.thepadding {
    padding-top: 40px;
    padding-left: 65px;
}

.m-playlist-photo {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.music-popular {
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
    height: 620px;
    background: linear-gradient(288.43deg, #E784A2 3.74%, #7A8FFC 61.65%);
    border-radius: 30px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.--white {
    color: #FFFFFF;
}

.mus-popular-card {
    display: flex;
}

.mus-pop-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

.mus-pop-card:last-child {
    margin-right: 0;
}

.mus-pop-card img {
    transition: all .5s ease-in-out;
    border-radius: 20px;
    cursor: pointer;
}

.mus-pop-card img:hover {
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 50, 0.51), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1.04);
}

.m-pop-text {
    margin-top: 25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #FFFFFF;
}

.music-code {
    margin-top: 100px;
}

.mus-qr {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.m-qr-photo img {
    border-radius: 30px;
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 50, 0.51), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-right: 65px;
}

.m-qr-text {
    width: 460px;
}

.m-qr-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.015em;
    color: #000000;
}

.m-qr-ps {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #000000;
    margin-top: 25px;
}

/* _______________________________________________________________ДЖУНИОР________________________________________________________________________ */
.main_junior {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 175px;
}

.junior-banner {
    background-image: url('img/junior_banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1920px;
    height: 506px;
}

.jun-banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 506px;
    padding-left: 702px;
}

.jun-banner-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.jun-banner-p {
    width: 485px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 25px;
}

.junior-content {
    margin-top: 100px;
}

.jun-content-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.025em;
    color: #000000;
    padding-left: 65px;
    margin-bottom: 50px;
}

.jun-content-card {
    display: flex;
}

.jun-card-care {
    background-color: #CEE3FD;
    background-image: url('img/junior_blue.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 590px;
    height: 524px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-top: 50px;
    padding-left: 65px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin-right: 40px;
}

.jun-card-care:hover {
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 50, 0.51), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1.02);
}

.jun-card-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.025em;
    color: #000000;
}

.jun-card-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.025em;
    color: #000000;
    margin-top: 15px;
}

.jun-card-fairytale {
    background-color: #FFAEB7;
    background-image: url('img/junior_pink.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 590px;
    height: 247px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-left: 249px;
    padding-top: 50px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.jun-card-fairytale:hover {
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 50, 0.51), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1.02);
}

.jun-card-game {
    background-color: #AEA1FF;
    background-image: url('img/junior_violet.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 590px;
    height: 247px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 30px;
    padding-left: 249px;
    padding-top: 50px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.jun-card-game:hover {
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 50, 0.51), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1.02);
}

.jun-content-cartoon {
    background-color: #F7B8E1;
    background-image: url('img/junior_slider.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1370px;
    height: 488px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 40px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.jun-content-cartoon:hover {
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 50, 0.51), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1.02);
}

.jun-cont-text {
    margin-bottom: 40px;
    margin-left: 107px;
    padding-top: 40px;
}

.sliders-swiper {
    display: flex;
}

.slider-cartoon {
    max-width: 834px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    margin-left: 40px;
    display: flex;
    align-items: center;
    position: relative;
}

.sliders-content {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.sliders-card img {
    display: block;
    cursor: pointer;
    border-radius: 20px;
}

.swiper-button-next::before {
    content: url('img/arrowright.svg');
}

.swiper-button-prev::before {
    content: url('img/arrowleft.svg');
}

/* _______________________________________________________________ТАРИФЫ________________________________________________________________________ */
.main_tarif {
    display: flex;
    flex-direction: column;
    margin-bottom: 175px;
    margin-top: 100px;
}

.tarif-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.015em;
    color: #000000;
    padding-left: 105px;
    margin-bottom: 30px;
}

.tarif-card {
    display: flex;
    flex-wrap: wrap;
}

.tarif-card-content {
    margin-right: 40px;
    margin-bottom: 45px;
    width: 590px;
    height: 525px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: all .5s ease-in-out;
}

.tarif-card-content:nth-child(even) {
    margin-right: 0;
}

.tarif-card-content:hover {
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 50, 0.51), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1.02);
}

.tarif-content-info {
    padding: 40px 65px 30px 65px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarif-content-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.tarif-content-p {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    width: 460px;
    margin-top: 15px;
    color: #5F5F5F;
}

.tarif-content-icon {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.tarif-content-icon p {
    margin-left: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.tarif-price-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #000000;
}

.tarif-price-btn {
    display: flex;
    justify-content: space-between;
}

.tarif-btn-red {
    width: 210px;
    height: 50px;
    background: #FF0032;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    border: none;
}

.tarif-btn-gray {
    width: 210px;
    height: 50px;
    background: #D1D1D1;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #000000;
    border: none;
}

/* _______________________________________________________________СМАРТ________________________________________________________________________ */
.main_tarifi {
    display: flex;
    flex-direction: column;
    margin-bottom: 175px;
    margin-top: 100px;
}

.tarifi-content {
    background-image: url('img/smart_banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1220px;
    height: 508px;
    padding-top: 65px;
    padding-left: 65px;
}

.tarifi-content-card {
    width: 565px;
    height: 531px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 50, 0.51), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}

.tarifi-name-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.04em;
    color: #000000;
}

.tarifi-name-p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #5F5F5F;
    margin-top: 10px;
    margin-bottom: 25px;
}

.tarifi-info-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.tarifi-info-icon:last-child {
    margin-bottom: 0;
}

.t-info-icon {
    display: flex;
    align-items: center;
}

.t-info-icon p {
    margin-left: 15px;
}

.tarifi-info-p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.tarifi-price-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 10px;
}

.tarifi-price-button {
    width: 485px;
    height: 50px;
    background: #FF0032;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    border: none;
}

.tarifi-info-card {
    margin-top: 188px;
}

.tar-title {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.025em;
    margin-bottom: 50px;
    color: #000000;
}

.tarifi-card {
    display: flex;
    justify-content: space-between;
}

.tar-card {
    width: 590px;
    height: 205px;
    background: #F0F2FF;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-top: 45px;
    padding-left: 65px;
    padding-right: 65px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.tar-card:hover {
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 50, 0.51), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1.02);
}

.tar-card-title {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #000000;
}

.tar-card-p {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.025em;
    color: #5F5F5F;
}

/* _______________________________________________________________ХАЙП________________________________________________________________________ */
.hype {
    background-image: url('img/hype_banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1220px;
    height: 508px;
    padding-top: 65px;
    padding-left: 65px;
}

/* _______________________________________________________________МТС ДОСТУП________________________________________________________________________ */
.access {
    background-image: url('img/mts-dostup_banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1220px;
    height: 508px;
    padding-top: 65px;
    padding-left: 65px;
}

.tar-icon {
    display: flex;
    align-items: center;
}

.tar-icon img {
    margin-right: 10px;
    margin-bottom: 15px;
}

/* _______________________________________________________________СУПЕР МТС________________________________________________________________________ */
.super {
    background-image: url('img/super-mts_banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1220px;
    height: 508px;
    padding-top: 65px;
    padding-left: 65px;
}

.mt {
    margin-top: 105px;
}

/* _______________________________________________________________ЛОНЧЕР________________________________________________________________________ */
.main_launcher {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 175px;
}

.launcher-banner {
    background-image: url('img/launcher_banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1920px;
    height: 412px;
}

.lan-banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 412px;
    padding-left: 105px;
}

.lan-banner-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.lan-banner-p {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    width: 416px;
    margin-top: 30px;
}

.launcher-content {
    margin-top: 100px;
}

.lan-content-card {
    max-width: 1135px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.lan-card-banner {
    margin-right: 65px;
}

.lan-card-banner img {
    display: block;
    border-radius: 30px;
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 50, 0.51), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}

.lan-info-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
    color: #000000;
}

.lan-info-p-gray {
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #5F5F5F;
    width: 500px;
}

.lan-info-p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #000000;
    width: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.lan-info-list {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    width: 460px;
    color: #000000;
    padding-left: 27px;
}

.lan-info-list li {
    padding-bottom: 10px;
}

.launcher-card-info {
    display: flex;
    margin-top: 100px;
}

.lan-info-card {
    width: 380px;
    height: 205px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.lan-info-card:hover {
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 50, 0.51), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1.02);
}

.lan-info-card:last-child {
    margin-right: 0;
}

.lan-info-card-p {
    width: 298px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
    margin-top: 20px;
}

.launcher-qrcode {
    display: flex;
    align-items: center;
    max-width: 899px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

.lan-qr-img {
    margin-right: 40px;
    cursor: pointer;
}

.lan-qr-img img {
    border-radius: 30px;
    box-shadow: 0px 0px 50px 1px rgba(255, 0, 50, 0.51), 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}

.lan-qr-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.015em;
    color: #000000;
    margin-bottom: 15px;
}

.lan-qr-p {
    width: 545px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #000000;
}

/* _______________________________________________________________ФУТЕР________________________________________________________________________ */
.footer {
    height: 136px;
    background: #FF0032;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 945px;
    width: 100%;
    margin: 0 auto;
}

.footer-info a {
    margin-right: 40px;
}

.footer-info a:last-child {
    margin-right: 0;
}

.qr-ft {
    margin-right: 40px;
}